@import "../../utils/utils";

.dropdown {
  &__btn {
    user-select: none;
    cursor: pointer;
    position: relative;
    width: 25%;
    max-width: 250px;
    min-width: 100px;
    height: 100%;
    padding: 10px 30px;
    background-image: linear-gradient(0, darken($primary-bg-color, 15%), darken($primary-bg-color, 5%));
    display: flex;
    justify-content: center;
    align-items: center;
    & > span {
      font-size: 1.2rem;
      margin: 0 5px;
    }
    &:hover {
      background-image: linear-gradient(0, darken($primary-bg-color, 12%), darken($primary-bg-color, 5%));
    }
  }
  &__overlay {
    cursor: default;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    display: block;
    z-index: -10;
  }
  &--active {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: fit-content;
    animation: opacity 0.2s ease-in-out forwards;
    z-index: 100;
    span {
      user-select: none;
      cursor: pointer;
      background-color: $primary-bg-color;
      display: block;
      height: fit-content;
      padding: 0.5rem 0 0.5rem 0.5rem;
      &:last-child {
        border-radius: 0 0 4px 4px;
      }
      &:hover {
        background-color: darken($primary-bg-color, 5%);
      }
    }
  }
}