@import "../../utils/utils";

.order {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: $primary-bg-color;
  text-align: center;
  padding-bottom: 6rem;
  &__info {    
    > p {
      margin-top: 20px;
      font-size: 1.2rem;
    }
  }
  &__questions {
    margin-top: 20px;
    a {
      text-decoration: underline;
      color: rgb(68, 150, 182);
    }
  }
  &__to-shop {
    background-color: $button-color;
    color: $button-text;
    font-family: $primary-type;
    font-size: 1.1rem;
    border-radius: 4px;
    font-weight: 800;
    text-transform: uppercase;
    padding: .8rem;
  }
}