@import '../../utils/utils';

.slider {
  position: relative;
  width: 100%;
  height: 630px;
  @include mobile {
    height: 85vh;
  }
  overflow: hidden;
  &__container {
    position: absolute;
    width: 100%;
    height: 100%;
    color: $primary-bg-color;
  }
  &__slide-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
    display: grid;
    grid-template-columns: repeat(999, 100%);
    grid-template-rows: 1fr;
    &--resizing {
      scroll-behavior: auto;
    }
  }
  $number-of-controls: 3;
  $control-size: 18px;
  $controls-width: calc(#{$number-of-controls} * #{$control-size} * 1.4);
  &__controls {
    position: absolute;
    width: $controls-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 15px;
    left: 50%;
    transform: translate(calc(#{$controls-width} / -2));
  }
  &__control {
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    background-color: $primary-bg-color;
    width: $control-size;
    height: $control-size;
    transition: all 0.2s linear;
    &:hover {
      background-color: darken($primary-bg-color, 20%);
    }
    &--selected {
      width: calc(#{$control-size} / 1.2);
      height: calc(#{$control-size} / 1.2);
      background-color: darken($primary-bg-color, 20%);
    }
  }
}
