@import '../../utils/utils';

.item-card {
  height: 400px;
  width: 100%;
  overflow: hidden;
  border-radius: 0.3rem;
  background-color: $primary-bg-color;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  &__img {
    height: 70%;
    background-color: rgb(230, 230, 230);
    background-image: url('https://pakerszop.pl/public/assets//snickers-hi-protein-bar.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__info {
    padding: 1rem;
    & > div {
      margin-top: 12px;
    }
    h5 {
      font-size: 1.4rem;
      line-height: 1.4rem;
      height: 2.8rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p {
      color: rgb(255, 100, 126);
      font-weight: bold;
      font-size: 1.2rem;
      display: inline;
    }
  }
  &__add-to-cart {
    cursor: pointer;
    display: inline;
    float: right;
    background-color: $nav-primary-text-color;
    color: white;
    padding: 2px 6px;
    font-weight: 600;
    border-radius: 4px;
  }
}
