@import '../../utils/utils';

.item-card {
  height: 400px;
  width: 100%;
  overflow: hidden;
  border-radius: 0.3rem;
  background-color: $primary-bg-color;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  &--added {
    animation: addToCart 0.3s linear forwards;
  }
  &__img {
    height: 70%;
    background-color: rgb(230, 230, 230);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__info {
    padding: 1rem;
    & > div {
      margin-top: 12px;
    }
    h5 {
      font-size: 1.4rem;
      line-height: 1.4rem;
      height: 2.8rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p {
      color: #ff647e;
      font-weight: bold;
      font-size: 1.2rem;
      display: inline;
    }
  }
  &__add-to-cart {
    user-select: none;
    cursor: pointer;
    display: inline;
    float: right;
    background-color: $button-color;
    color: $button-text;
    padding: 2px 8px;
    font-weight: 700;
    border-radius: 4px;
  }
}

@keyframes addToCart {
  50% {
    background-color: rgb(148, 245, 148);
  }
}
