@import "../../utils/utils";

.profile-page {
  background-color: $primary-bg-color;
  color: $paragraph-color;
}

.profile-history {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 60%;
  @include mobile {
    width: 90%;
  }
}

.sign-out-wrapper {
  width: 100%;
}
