@import '../../utils/utils';

.about {
    padding: 2rem 4%;
    width: 100%;
    height: 65vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 6fr 2fr;
    text-align: center;
    background-image: url("../../img/aboutBG.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    &__section {
        padding: 2rem 2rem;
        h1 {
            font-size: 2.3rem;
        }
        p {
            margin-top: 2rem;
            font-size: 1.4rem;
        }
        @include mobile {
            align-self: center;
            p {
                display: none;
            }
            h1 {
                font-size: 1.5rem;
            }
        }
    }
    &__order-now-container {
        grid-column: 1 / 3;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__order-now {
        text-align: center;
        background-color: rgb(255, 61, 61);
        padding: 1.2rem;
        border-radius: 8px;
        font-size: 1.2rem;
        font-weight: 600;
        color: white;
    }
}