@import "../../utils/utils";

.go-up {
  cursor: pointer;
  position: fixed;
  content: "";
  top: 15px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  background-color: $primary-bg-color;
  animation: opacity 0.5s linear;
  box-shadow: 0 12px 28px 0 rgba(0,0,0,0.2), 0 2px 4px 0 rgba(0,0,0,0.1);
  span {
    color: rgba(0, 0, 0, 0.8);
    font-size: 2rem;
    transform: rotate(270deg);
  }
}
