@import '../../utils/utils';

.nav {
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 3rem;
  z-index: 100;
  background-color: $primary-bg-color;
  height: $nav-height;
  @include mobile {
    padding: 0 1.5rem;
    height: 15vh;
  }
  &__logo-container {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 100%;
      width: auto;
    }
  }
  &__logo-text {
    height: 50% !important;
    margin-left: 1rem;
  }
  &__links-container {
    @include mobile {
      display: none;
    }
    &--selected {
      position: relative;
      color: darken($paragraph-color, 15%) !important;
      &:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0%;
        animation: underline 0.5s ease-in-out forwards;
        background-color: $paragraph-color;
      }
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        margin: 0 2rem;
        & > a {
          font-size: 1.6rem;
          text-transform: uppercase;
          color: $paragraph-color;
          font-weight: 800;
          transition: color 0.3s ease-in-out;
        }
      }
    }
  }
}
