@import "../../utils/utils";

.add-to-cart-btn {
    height: 100%;
    user-select: none;
    font-size: 1.1rem;
    padding: 2px 8px;
    font-weight: 700;
    border-radius: 4px;
    text-align: center;
}