@import "../../utils/utils";

.add-to-cart-btn {
    height: 100%;
    user-select: none;
    cursor: pointer;
    background-color: $button-color;
    color: $button-text;
    font-family: $primary-type;
    font-size: 1.1rem;
    padding: 2px 8px;
    font-weight: 700;
    border-radius: 4px;
    text-align: center;
}