@import "../../utils/utils";

.dropdown-sort {
  user-select: none;
  cursor: pointer;
  position: relative;
  width: 25%;
  max-width: 250px;
  min-width: 100px;
  height: 100%;
  padding: 10px 30px;
  background-color: $button-color;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
  border-radius: 0 8px 8px 0;
  & > span {
    font-size: 1.2rem;
    margin: 0 5px;
  }
  &:hover {
    background-color: darken($button-color, 5%);
  }
}