// Colors
$primary-bg-color: #FAEEE7;
$button-text: #33272A;
$button-color: #FF8BA7;
$proceed-button-color: #87cefa;
$paragraph-color: #594A4E;
$search-color: #FFC6C7;
$filters-border-color: #FFC6C7;

// Types
$primary-type: 'Nunito', sans-serif;

// Sizes
$nav-height: 15vh;

$mobile: 1024px;

@mixin mobile {
  @media screen and (max-width: #{$mobile}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$mobile}) {
    @content;
  }
}

@mixin pagePadding {
  margin-top: $nav-height;
}

@mixin facebookShadow {
  box-shadow: 0 12px 28px 0 rgba(0,0,0,0.2), 0 2px 4px 0 rgba(0,0,0,0.1);
}

@keyframes underline {
  to {
    width: 100%;
  }
}
