// Colors
$primary-bg-color: #eaeaea;
$nav-primary-text-color: rgb(255, 75, 165);

// Types
$primary-type: 'Nunito', sans-serif;

// Sizes
$nav-height: 15vh;

$mobile: 1024px;

@mixin mobile {
  @media screen and (max-width: #{$mobile}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$mobile}) {
    @content;
  }
}

@mixin pagePadding {
  margin-top: $nav-height;
}

@keyframes underline {
  to {
    width: 100%;
  }
}
