@import "../../utils/utils";

.number-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50px;
  span {
    font-size: 10px;
    cursor: pointer;
    user-select: none;
    color: darken($button-color, 10%);
  }
  input {
    width: 20px;
    text-align: center;
    border-radius: 4px;
    border: 1px $button-color solid;
    // Removing default input[type=number] controls
    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    /* Firefox */
    &[type=number] {
      -moz-appearance: textfield;
    }
  }
}