@import "../../utils/utils";

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  animation: drawerFadeIn 0.3s linear forwards;
  overflow: hidden;
  &--closing {
    animation: drawerFadeOut 0.3s ease-in-out forwards;
  }
}

.sidebar {
  position: absolute;
  top: 0;
  background-color: rgb(83, 42, 64);
  height: 100vh;
  width: 300px;
  animation: sideSlideRight 0.3s ease-in-out forwards;
  padding: 2rem;
  &--closing {
    animation: sideHide 0.3s ease-in-out forwards;
  }
  &__cart-wrap {
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
  }
  &__counter-wrap {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
  &__link {
    cursor: pointer;
    display: block;
    margin: 1rem 0;
    padding-bottom: 0.5rem;
    color: lighten(rgb(83, 42, 64), 70%);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5rem;
    border-bottom: lighten(rgb(83, 42, 64), 30%) 1px solid;
  }
  &__close {
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
  }
}

@keyframes sideHide {
  from {
    right: 0;
  } to {
    right: -1000px;
  }
}

@keyframes sideSlideRight {
  from {
    right: -1000px;
  } to {
    right: 0
  }
}

@keyframes drawerFadeIn {
  from {
    background-color: rgba(99, 29, 64, 0);
  } to {
    background-color: rgba(99, 29, 64, 0.5);
  }
}

@keyframes drawerFadeOut {
  from {
    background-color: rgba(99, 29, 64, 0.5);
  } to {
    background-color: rgba(99, 29, 64, 0);
  }
}