@import '../../utils/utils';

.shop {
  padding: 2rem 8% 2rem 2%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @include mobile {
    justify-content: center;
    padding: 2rem 8%;
  }
  &__search-wrapper {
    width: 725px;
    @include mobile {
      width: 100%;
      margin: auto;
    }
  }
  &__search-section {
    width: 80%;
    @include mobile {
      width: 100%;
    }
  }
}
