@import "../../utils/utils";

.login-page {
  background-color: $primary-bg-color;
}

.login-form {
  background-color: rgb(238, 231, 231);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  height: 100%;

  input {
    background-color: white;
    border: 1px solid black;
  }
}
