@import "../../utils/utils";

.login-page {
  background-color: $primary-bg-color;
  display: flex;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px auto;
  align-items: center;
  padding: 2rem 1rem;
  height: 100%;
  min-width: 35%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-size: 18px;

  &__section {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__sub-legend {
    margin-top: -4px;
    a {
      text-decoration: underline;
      color: rgb(68, 150, 182);
    }
  }

  legend {
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 1.4rem;
  }

  input {
    margin: 5px 0;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 18px;
  }

  button {
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: $button-color;
    color: $button-text;
    font-weight: 700;
    font-size: 18px;
  }
}
