@import "../../utils/utils";

.filters {
  height: 500px;
  width: 18%;
  min-width: 170px;
  background-color: $primary-bg-color;
  padding: 1rem 1.2rem;
  border: 2px $filters-border-color solid;
  &__section {
    border-bottom: 2px $filters-border-color solid;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
  }
  @include mobile {
    display: none;
  }
}