@import '../../utils/utils';

.homepage {
  &__info {
    background-color: rgba(26, 26, 26, 0.6);
    padding: 0 10% 100px 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      margin-bottom: 0.8rem;
      line-height: 2.6rem;
      font-size: 3rem;
      text-align: center;
    }
  }
  &__search-btn {
    cursor: pointer;
    height: 100%;
    width: 30%;
    font-size: 1.2rem;
    background-color: lighten($button-color, 2%);
    border-radius: 0 0 8px 0;
    &:hover {
      background-color: lighten($button-color, 4%);
    }
  }
  &__search-wrapper {
    margin-top: 40px;
    max-width: 500px;
    width: 100%;
    color: black;
  }
}