@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
@import './utils/utils.scss';

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  font-family: $primary-type;
}

html {
  scroll-behavior: smooth;
}

img {
  pointer-events: none;
  user-select: none;
}

input {
  outline: none;
  border: none;
  background-color: inherit;
}

button {
  outline: none;
  border: none;
}

@keyframes opacity {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.page-container {
  @include pagePadding;
  min-height: 65vh;
}
