@import "../../utils/utils";

.cart-counter {
  border-radius: 50%;
  position: absolute;
  @include facebookShadow;
  color: $paragraph-color;
  background-color: $primary-bg-color;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 800;
  line-height: 22px;
}